In [58]:
# Importing Dependencies

import os
import numpy as np
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import confusion_matrix, classification_report

In [59]:
# Import the data

file_path = Path("./Resources/lending_data.csv")
df = pd.read_csv(file_path)
df.head()

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt,loan_status
0,10700.0,7.672,52800,0.431818,5,1,22800,0
1,8400.0,6.692,43600,0.311927,3,0,13600,0
2,9000.0,6.963,46100,0.349241,3,0,16100,0
3,10700.0,7.664,52700,0.430740,5,1,22700,0
4,10800.0,7.698,53000,0.433962,5,1,23000,0

In [60]:
# Define the X (features)

X = df.drop("loan_status", axis=1)
X.head()

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt
0,10700.0,7.672,52800,0.431818,5,1,22800
1,8400.0,6.692,43600,0.311927,3,0,13600
2,9000.0,6.963,46100,0.349241,3,0,16100
3,10700.0,7.664,52700,0.430740,5,1,22700
4,10800.0,7.698,53000,0.433962,5,1,23000

In [34]:
# Define the y (target) sets

y = df["loan_status"].values

In [35]:
# Split the data into X_train, X_test, y_train, y_test
from sklearn.cross_validation import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [54]:
from sklearn.preprocessing import StandardScaler

X_scaler = StandardScaler().fit(X_test)

In [55]:
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [56]:
# Train a Logistic Regression model print the model score
from sklearn.metrics import accuracy_score 
from sklearn.linear_model import LogisticRegression

logreg = LogisticRegression()

logreg.fit(X_train, y_train)

y_pred = logreg.predict(X_test) 

log_reg = confusion_matrix(y_test, y_pred)


print ("Accuracy :", accuracy_score(y_test, y_pred))

# log_reg

Accuracy : 0.9924680148576145

In [57]:
# Train a Random Forest Classifier model and print the model score
from sklearn.ensemble import RandomForestClassifier

R_classifier = RandomForestClassifier(n_estimators=100)

#Train the model using the training sets 
R_classifier.fit(X_train,y_train)

y_pred = R_classifier.predict(X_test)

#Import scikit-learn metrics module for accuracy calculation
from sklearn import metrics

print("Accuracy:", metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.9922616591002889